In [90]:
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()

2
tej 52 56 60
naveen 34 54 32
tej

scores

In [26]:
name, *line = input().split()

teja 4 5 5

In [75]:
line

['32', '56', '98']

In [28]:
scores = list(map(float, line))

In [76]:
scores

[32.0, 56.0, 98.0]

In [30]:
student_marks[name] = scores

In [77]:
student_marks

{'rajesh': [34.0, 56.0, 71.0], 'akhil': [32.0, 56.0, 98.0]}

In [48]:
student_marks.items()

dict_items([('teja', [4.0, 5.0, 5.0]), ('naveen', [5.0, 2.0, 1.0, 3.0])])

In [78]:
query_name

'rajesh'

In [91]:
count=len(student_marks[query_name])
add=0
for i in range(count):
    add+=student_marks[query_name][i]
#result="{:.2f}".format(add/count)
final_result=round(add/count,2)
print(final_result)

56.0

In [92]:
52+56+60

168

In [94]:
avg=168/3

In [100]:
print("%.2f"%avg)

56.00